<h3 align="center">Actualizar Procedimiento Preventivo</h3>

<%= render 'actualizar_procedimiento' %>

| <%= link_to ' Atrás', ver_procedimiento_path(@risk_matrix.id), :class => "icon-arrow-left btn" %> 