<h3 align="center">Bienvenido a Yo Prevengo</h3>
<h4 align="center">Sistema de Evaluación de Riesgos Laborales</h4>
</br></br></br>
<center>
  <div>  
    <img src="/casco.jpg" width="650" height="590" alt="Tamaño original" border="3">
  <div>
</center>